<h1><%= @sport.name %></h1>
<h6><%= link_to "Edit", edit_sport_path(@sport) %></h6>


<img src="<%= @sport.image %>">
<h3>Games</h3>
<ul>
  <% @sport.games.each do |game| %>
  <li><%= link_to game.title, game_path(game) %><br></li>
  <% end %>
</ul>
